extends layout.pug
block content
  section.flashcards
    .card.card-question
      .card-header
      h1.card-title= side
      #content
        h2= text
        if hint && side === 'question'
          button#hintButton Show hint
          p.hint(style='display: none;')
            i They are delicious with milk
      .card-flip-wrap
        if side === 'question'
          a(href=`${id}?side=answer`)
            img.card-flip(src='/static/img/flip.svg')
        else
          a(href=`${id}?side=question`)
            img.card-flip(src='/static/img/flip.svg')
      .card-next
        a(href='/cards')
          img(src='/static/img/next.svg')
    script(src='/static/js/app.js')