extends layout.pug
block content
  section#content
    h2= text
    if hint && side === 'question'
      p
        i Hint: #{hint}
    if side === 'question'
      a(href=`${id}?side=answer`) Answer
    else
      a(href=`${id}?side=question`) Question
    br
    a(href='/cards') Next